body {
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  font-weight: 400;
}
.container {
  background-color: burlywood;
  padding: 10% 30%;
  /* width: 500px;
  border-radius: 20px;
  height: 1900px;
  margin-left: 100px; */
  /* position: relative; */
}
img {
  margin-top: 20px;
  border-radius: 10px;
  max-width: 100%;
}
.control {
  margin-left: 1.3rem;
  margin-right: 1.3rem;
  padding-bottom: 20px;
}
.recipe {
  background-color: white;
  border-radius: 10px;
}
.Preparation {
  padding: 5px;
}
.text {
  color: brown;
}
.list {
  padding: 0;
  margin-left: 20px;
  line-height: 50px;
}
.column {
  display: flex;
  flex-direction: row;
  gap: 100px;
  padding-left: 50px;
  /* box-sizing: border-box; */
}
.row {
  display: inline-flex;
  flex-direction: column;
  gap: 5px;
}
/* table{
    border-bottom: 2px solid;
} */

@media only screen and (max-width: 900px) {
  .container{
    padding: 10% 5%;
  }
  .column{
    padding-left: 20px;
  }
}
